body {
   font-family: Arial, sans-serif;
   background-color: #090006;
   color: white;
   text-align: center;
   margin: 0;
   padding: 0;
}

.game-container {
   margin-top: 3%;
   text-align: center;
}

.game-title {
   color: white;
   font-size: 2em;
}

#video {
   border: 3px solid #555;
   width: 70%;
   height: auto;
   border-radius: 10px;
}

.health-container {
   position: fixed;
   top: 10%;
   right: 2%;
   display: flex;
   gap: 1%;
}

.health-icon {
   width: 60px;
   height: 60px;
}

#cheat-text {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   padding: 10px;
   border-radius: 5px;
   display: none;
   font-size: 18px;
   z-index: 1000;
}