/* Image Matching Game CSS */
body {
   margin: 0;
   padding: 0;
   background-color: #4d4d4d;
   /* Gray background */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: Arial, sans-serif;
}

.game-container {
   text-align: center;
   position: relative;
   display: flex;
}

.video-container {
   position: relative;
   margin-bottom: 20px;
}

.video-feed {
   max-width: 95%;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   box-sizing: content-box;
}

.info-container {
   margin-top: 20px;
}

.message {
   font-size: 24px;
   color: #ffffff;
   font-weight: bold;
   margin: 10px 0;
}

.random-image {
   width: 350px;
   height: 350px;
   object-fit: cover;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right_part{
   display: flex;
   flex-direction: column;

   position: relative;
}

#cheat-text {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   padding: 10px;
   border-radius: 5px;
   display: none;
   font-size: 18px;
   z-index: 1000;
}