<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Threshold Puzzle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/threshold.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loading.css') }}"
    />
  </head>
  <body>
    <div class="loading-overlay" id="loading-overlay">
      <div class="loader"></div>
    </div>

    <div class="terminal" id="terminal">
      <div class="terminal-line">
          <span class="prompt">codebind@code:~$</span> Adjsut the threshold to find the hidden message!
      </div>
      <div class="terminal-line terminal-input" id="current-prompt">
        <span class="prompt">codebind@code:~$</span>
        <input
          type="text"
          id="message-input"
          onkeydown="handleKeyPress(event)"
          autocomplete="off"
        />
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/threshold.js') }}"></script>

    <div class="game-container">
      <img id="video" src="/threshold_feed" alt="Threshold Feed" />
    </div>
  </body>
</html>
